[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tqdm = "*"
pytest-cov = "*"
notebook = "*"

[packages]
python-chess = "*"
fasttext = "*"
numpy = "*"
scikit-optimize = "*"
pyspark = "*"
matplotlib = "*"
joblib = "*"
diskcache = "*"
tensorflow = "==2.0.3"

[requires]
python_version = "3.8"
